:root {
    --theme-blue: #52d0e4;
    --theme-lightblue: #AAD7D9;
    --theme-link: rgb(38, 163, 247);
    --theme-link-transparent: rgba(38, 163, 247, 0.6);
    --theme-offwhite: #FBF9F1;
    --background-color: #191919;
    --canvas-size: 68vmin;
    --canvas-max-size: 500px;
    --animation-duration: 2400ms;
    --animation-delay: 240ms;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background: #141414;
    background: linear-gradient(147deg, rgb(18 34 42) 9%, #040404 53%);
    overflow: hidden;
    color: var(--theme-offwhite);
}

a {
    color: var(--theme-link);
}

#brand-wrapper {
    width: 90%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);  
    transform: translate(-50%, -50%);  
}

#brand-wrapper::before,
#brand-wrapper::after {
    position: absolute;
    width: 250px;
    height: 300px;
    content: "";
}

#brand-wrapper::before {
    left: 0;
    top: 0;
    border-left: 3px solid var(--theme-offwhite);
    border-top: 10px solid var(--theme-offwhite);
}

#brand-wrapper::after {
    right: 0;
    bottom: 0;
    border-right: 3px solid var(--theme-offwhite);
    border-bottom: 10px solid var(--theme-offwhite);
}

.project-link {
    font-size: 18px;
    margin-bottom: 5px;
}

#brand-splash {
    height: 30%;
    width: 100%;
    background: var(--theme-link-transparent);
    position: relative;
    top: -62%;
    right: 5%;
    z-index: 1;
    border-radius: 5px;
}

#brand-header {
    position: relative;
    z-index: 2;
    margin: 30vh 5%;
    padding-right: 10vh;
    display: flex;
    flex-direction: row;
}

.logo img {
    height: 100px;
    width: 100px;
}

.brand-name {
    margin-left: 5px;
}

.brand-name p {
    margin: 0;
}

.brand-name > p:first-of-type {
    margin-top: 20px;
    white-space: nowrap;
}

#about-section {
    width: 40%;
}

/* Font Style Rules */

.font-32 {
    font-size: 32px;
}

.font-21 {
    font-size: 21px;
}

.font-18 {
    font-size: 18px;
}

.font-16 {
    font-size: 16px;
}

.font-bold {
    font-weight: 600;
}

/* Body Style Rules */

.padding {
    padding: 20px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.linked-in {
    margin-left: 85%;
}

@media only screen and (max-width: 750px) {
    body {
        overflow-y: auto;
    }
    #brand {
        padding-top: 30px;
        height: 140px;
    }
    .mobile-view {
        height: 200vh;
    }
    #brand-header {
        position: relative;
        margin: 0 5%;
        top: 0;
        padding-right: 10vh;
        display: flex;
        flex-direction: row;
    }

    #brand-splash {
        display: none;
    }

    #about-section {
        margin-left: 4vh;
        width: 90%;
    }

    #project-links {
        margin-left: 4vh;
    }
}

/* Animations */

.canvas {
    width: var(--canvas-size);
    height: var(--canvas-size);
    max-width: var(--canvas-max-size);
    max-height: var(--canvas-max-size);
    display: flex;
    gap: 3%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}
  
.energy-bar {
    width: 2%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    background: linear-gradient(var(--theme-link-transparent), transparent);
}
  
.energy-bar::before {
    content: "";
    height: 5%;
    width: 100%;
    position: absolute;
    background: linear-gradient(transparent, var(--theme-link), transparent);
    filter: blur(2px);
    animation: detail-animation var(--animation-duration) linear infinite;
}
  
@keyframes detail-animation {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(2000%);
    }
}
  
.energy-bar:nth-child(1),
.energy-bar:nth-child(21) {
    height: 95%;
    opacity: 0.05;
}
.energy-bar:nth-child(2),
.energy-bar:nth-child(20) {
    height: 95%;
    opacity: 0.1;
}
.energy-bar:nth-child(3),
.energy-bar:nth-child(19) {
    height: 90%;
    opacity: 0.2;
}
.energy-bar:nth-child(4),
.energy-bar:nth-child(18) {
    height: 85%;
    opacity: 0.3;
}
.energy-bar:nth-child(5),
.energy-bar:nth-child(17) {
    height: 80%;
    opacity: 0.4;
}
.energy-bar:nth-child(6),
.energy-bar:nth-child(16) {
    height: 75%;
    opacity: 0.5;
}
.energy-bar:nth-child(7),
.energy-bar:nth-child(15) {
    height: 70%;
    opacity: 0.6;
}
.energy-bar:nth-child(8),
.energy-bar:nth-child(14) {
    height: 65%;
    opacity: 0.7;
}
.energy-bar:nth-child(9),
.energy-bar:nth-child(13) {
    height: 60%;
    opacity: 0.8;
}
.energy-bar:nth-child(10),
.energy-bar:nth-child(12) {
    height: 55%;
    opacity: 0.9;
}
.energy-bar:nth-child(11) {
    height: 50%;
}
  
.energy-bar:nth-child(2)::before,
.energy-bar:nth-child(20)::before {
    animation-delay: var(--animation-delay);
}
.energy-bar:nth-child(3)::before,
.energy-bar:nth-child(19)::before {
    animation-delay: calc(var(--animation-delay) * 2);
}
.energy-bar:nth-child(4)::before,
.energy-bar:nth-child(18)::before {
    animation-delay: calc(var(--animation-delay) * 3);
}
.energy-bar:nth-child(5)::before,
.energy-bar:nth-child(17)::before {
    animation-delay: calc(var(--animation-delay) * 4);
}
.energy-bar:nth-child(6)::before,
.energy-bar:nth-child(16)::before {
    animation-delay: calc(var(--animation-delay) * 5);
}
.energy-bar:nth-child(7)::before,
.energy-bar:nth-child(15)::before {
    animation-delay: calc(var(--animation-delay) * 6);
}
.energy-bar:nth-child(8)::before,
.energy-bar:nth-child(14)::before {
    animation-delay: calc(var(--animation-delay) * 7);
}
.energy-bar:nth-child(9)::before,
.energy-bar:nth-child(13)::before {
    animation-delay: calc(var(--animation-delay) * 8);
}
.energy-bar:nth-child(10)::before,
.energy-bar:nth-child(12)::before {
    animation-delay: calc(var(--animation-delay) * 9);
}
.energy-bar:nth-child(11)::before {
    animation-delay: calc(var(--animation-delay) * 10);
}
  
.pyramid {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 5%;
}
  
.pyramid-bar {
    height: 5%;
    background: linear-gradient(
      90deg,
      transparent,
      var(--theme-link),
      transparent
    );
    border-radius: 20px;
    box-shadow: 0 -15vmin 40px var(--theme-link-transparent);
}
  
.pyramid-bar:nth-child(1) {
    width: 5%;
}
.pyramid-bar:nth-child(2) {
    width: 10%;
    opacity: 0.9;
}
.pyramid-bar:nth-child(3) {
    width: 20%;
    opacity: 0.8;
}
.pyramid-bar:nth-child(4) {
    width: 30%;
    opacity: 0.7;
}
.pyramid-bar:nth-child(5) {
    width: 40%;
    opacity: 0.6;
}
.pyramid-bar:nth-child(6) {
    width: 50%;
    opacity: 0.5;
}
.pyramid-bar:nth-child(7) {
    width: 60%;
    opacity: 0.4;
}
.pyramid-bar:nth-child(8) {
    width: 70%;
    opacity: 0.3;
}
.pyramid-bar:nth-child(9) {
    width: 80%;
    opacity: 0.2;
}
.pyramid-bar:nth-child(10) {
    width: 90%;
    opacity: 0.1;
}
.pyramid-bar:nth-child(11) {
    width: 100%;
    opacity: 0.05;
}
