#brand-header {
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.logo {
    height: 100px;
    width: 100px;
}

.logo img {
    height: 100%;
    width: 100%;
}

.brand-name {
    margin-left: 5px;
}

.brand-name p {
    margin: 0;
}

.brand-name > p:first-of-type {
    margin-top: 20px;
}

.font-32 {
    font-size: 32px;
}

.font-16 {
    font-size: 16px;
}
